body {
    background-color: #F0F8FF;
}

#input-box {
    background-color: #F0F8FF;
    border: 4px solid #778899;
    border-radius: 20px;

    margin:auto;
    margin-top: 50px;
    padding: 10px;
    display:block;

    width:80%;
    height:200px;
    
    text-align:left;

    outline: none;
}

#output-container {
    display:block;
    font-family: 'Courier New', Courier, monospace;
    font-size:24px;
    width:80%;
    margin: auto;
    margin-top:50px;
    overflow-wrap: break-word;
}