.letter-selector{
    display: inline-block;
    margin: 2em;
    width:50%;
    background-color: blue;
}

.letter {
    
}

#shift_interface{
    display:block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    text-align: center;
    margin:2em;
}

#reference_letter {
    display:inline-block;
}

.slick-prev, .slick-next {
    display:block;
}
.slick-prev {
    content: '←';
}

.slick-next {
    content: '→';
}