#shift-interface {
    font-family:'Courier New', Courier, monospace;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    user-select:none;
}

.slider {
    width: 300px;
    height: 100px;
    margin:auto;
    display: flex;
    overflow-x: auto;

    /*scrolling*/
    -webkit-overflow-scrolling: auto;
    scroll-snap-type: x mandatory;
    
  }
  .slider::-webkit-scrollbar { display:none; }
  .slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;

    /*scrolling*/
    scroll-snap-align: start;
  }

  
  